{% if collection.handle contains "driftwood" %}
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-driftwood-round-coffee-table">Driftwood Coffee Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/driftwood-kitchen-entertaining">Driftwood Kitchenware</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/driftwood-furniture">Driftwood Furniture</a>
<a class="round_btn link">Driftwood Dining Table</a>
<a class="round_btn link">Driftwood Console Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/driftwood-furniture">Driftwood Furniture For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/driftwood-furniture">Driftwood Bedroom Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-driftwood-coffee-table">Driftwood Coffee Tables For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/driftwood-kitchen-entertaining">Driftwood Kitchen Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/driftwood-furniture">Driftwood Chair</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-driftwood-round-coffee-table">Driftwood Coffee Table With Glass Top</a>
{% endif %}
{% if collection.handle contains "bamboo" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/bamboo-furniture">Bamboo Bedroom Furniture</a>
<a class="round_btn link">Bamboo Outdoor Furniture</a>
<a class="round_btn link">Bamboo Patio Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-pointe-bar-stool">Vintage Bamboo Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-kipnuk-stool-blue-white-indoor-outdoor">Faux Bamboo Furniture</a>
<a class="round_btn link">Bamboo Bathroom Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bamboo-furniture">Bamboo Furniture Store</a>
<a class="round_btn link">Outdoor Bamboo Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bamboo-furniture">Modern Bamboo Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bamboo-furniture">Bamboo Living Room Furniture</a>
{% endif %}
{% if collection.handle contains "recycled" %}  
<a class="round_btn link" href="https://www.modishstore.com/collections/recycle-furniture">Recycled Furniture Ideas</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/recycle-furniture">Recycled Furniture Store</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/reclaimed">Furniture Recycling</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/reclaimed-furniture">Reclaimed Wood Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/reclaimed-furniture">Reclaimed Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-waldo-console">Reclaimed Wood Bedroom Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-barnaby-accent-table">Reclaimed Barn Wood Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-barnaby-accent-table">Reclaimed Barnwood Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/reclaimed-furniture">Reclaimed Furniture Stores</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/reclaimed-furniture">Reclaimed Furniture For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/repurposed">Repurposed Wood Furniture</a>
{% endif %}

{% if collection.title contains "Rugs" %}
<a class="round_btn link">Decorative Rugs For Living Room</a>
<a class="round_btn link">Living Room Rugs</a>
<a class="round_btn link">Colorful Rugs For Living Room</a>
<a class="round_btn link">Area Rugs</a>
<a class="round_btn link">Outdoor Rugs</a>
<a class="round_btn link">Persian Rugs</a>
<a class="round_btn link">Kitchen Rugs</a>
<a class="round_btn link">Round Rugs</a>
<a class="round_btn link">Braided Rugs</a>
<a class="round_btn link">Oriental Rugs</a>
<a class="round_btn link">Surya Rugs</a>
<a class="round_btn link">Large Area Rugs</a>
<a class="round_btn link">Runner Rugs</a>
<a class="round_btn link">Kids Rugs</a>
<a class="round_btn link">Throw Rugs</a>
<a class="round_btn link">Modern Rugs</a>
<a class="round_btn link">Karastan Rugs</a>
<a class="round_btn link">Capel Rugs</a>
<a class="round_btn link">Wool Rugs</a>
<a class="round_btn link">Bedroom Rugs</a>
<a class="round_btn link">Outdoor Area Rugs</a>
<a class="round_btn link">Patio Rugs</a>
<a class="round_btn link">Turkish Rugs</a>
<a class="round_btn link">Circular Rugs</a>
<a class="round_btn link">Floor Rugs</a>
<a class="round_btn link">Dhurrie Rugs</a>
<a class="round_btn link">Carpets For Sale</a>
<a class="round_btn link">Area Carpets</a>
<a class="round_btn link">Oriental Carpets,</a>
<a class="round_btn link">Carpets And Rugs</a>
<a class="round_btn link">Turkish Carpets</a>
<a class="round_btn link">Rugs And Carpets</a>
<a class="round_btn link">Iranian Carpets</a>
<a class="round_btn link">Throw Carpets</a>
<a class="round_btn link">Handmade Carpets</a>
<a class="round_btn link">Kashmir Carpets</a>
<a class="round_btn link">Area Rugs</a>
<a class="round_btn link">Bamboo Rugs</a>
<a class="round_btn link">Berber Rugs</a>
<a class="round_btn link">Flokati Rugs</a>
<a class="round_btn link">Jute Rugs</a>
<a class="round_btn link">Leopard Rugs</a>
<a class="round_btn link">Rug Sale</a>
<a class="round_btn link">Sheepskin Rugs</a>
<a class="round_btn link">Wool Shag Rugs</a>
<a class="round_btn link">Zebra Rugs</a>
{% endif %}
{% if collection.handle contains "ceiling" %} 
<a class="round_btn link" href="https://www.modishstore.com/collections/ceiling-lights">Ceiling Lights</a>
<a class="round_btn link">Ceiling Fans With Lights</a>
<a class="round_btn link">Bedroom Ceiling Lights</a>
<a class="round_btn link">Modern Ceiling Lights</a>
<a class="round_btn link" href="https://www.modishstore.com/products/edgemod-thurston-5-light-chandelier">Outdoor Ceiling Lights</a>
<a class="round_btn link">Flush Ceiling Lights</a>
<a class="round_btn link">Living Room Ceiling Lights</a>
<a class="round_btn link" href="https://www.modishstore.com/products/zuo-celeron-ceiling-lamp-clear">Recessed Ceiling Lights</a>
<a class="round_btn link">Rustic Ceiling Lights</a>
<a class="round_btn link">Crystal Ceiling Lights</a>
<a class="round_btn link" href="https://www.modishstore.com/products/edgemod-sputnik-style-chandelier">Ceiling Lights For Kitchen</a>
{% endif %}
{% if collection.handle contains "walldecor" %} 
<a class="round_btn link" href="https://www.modishstore.com/collections/wall-decor-art">Wall Decor Ideas </a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-large-metal-fork-and-spoon-wall-decor-set-of-2">Kitchen Wall Decor</a>
<a class="round_btn link">Bathroom Wall Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/wall-decor-art">Wall Art Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/products/teton-home-metal-wall-decor-set-of-2-wd-055">Metal Wall Decor</a>
<a class="round_btn link">Outdoor Wall Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-sovereign-king-vinyl-headboard">Bedroom Wall Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/products/gold-leaf-orb-wall-play-set-of-10">Wall Decor Stickers</a>
<a class="round_btn link">Wood Wall Decor</a>
<a class="round_btn link">Mirror Wall Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/products/surya-wall-decor-wall-mirror-rwm2004-2828">Modern Wall Decor</a>
<a class="round_btn link">Iron Wall Decor</a>
<a class="round_btn link">Country Wall Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/products/gold-leaf-shelf-mushroom-wall-play-set-of-6">Unique Wall Decor</a>
<a class="round_btn link">Wine Wall Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/products/interior-illusions-set-of-3-koi-fish">Wall Decor Living Room</a>
<a class="round_btn link">Home Wall Decor</a>
<a class="round_btn link">Metal Wall Art Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/products/surya-wall-decor-wall-mirror-rwm2003-3636">Wall Decor Mirrors</a>
<a class="round_btn link">Accent Wall Decor</a>
<a class="round_btn link">Decorative Wall Decor</a>
<a class="round_btn link">Bedroom Wall Decor</a>
<a class="round_btn link">Home Wall Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/products/surya-cassidy-wall-decor-css5000-265">Ideas For Wall Decor</a>
<a class="round_btn link">Inspirational Wall Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/products/interior-illusions-bang-bang-wall-hook">Interior Wall Decor</a>
<a class="round_btn link" href="https://www.modishstore.com/products/gold-leaf-wall-play-color-brite">Kids Wall Decor</a>
<a class="round_btn link">Kitchen Wall Decor</a>
<a class="round_btn link">Wall Decor Accessories</a>
<a class="round_btn link">Wall Decor Frames</a>
<a class="round_btn link">Wall Decor Sale</a>
<a class="round_btn link">Wall Decor Sets</a>
{% endif %}
{% if collection.handle contains "candle" %}    
<a class="round_btn link" href="https://www.modishstore.com/collections/votive-holders-candle-holders">Votive Candle Holders</a>
<a class="round_btn link">Floor Candle Holders</a>
<a class="round_btn link">Crystal Candle Holders</a>
<a class="round_btn link">Taper Candle Holders</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-rustic-metal-candle-holder">Rustic Candle Holders</a>
<a class="round_btn link">Antique Candle Holders</a>
<a class="round_btn link">Floating Candle Holders</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-metal-ceramic-candle-holders-set-of-2">Ceramic Candle Holders</a>
<a class="round_btn link">Vintage Candle Holders</a>
<a class="round_btn link">Wedding Candle Holders</a>
{% endif %}
{% if collection.handle contains "tv-panel" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/tv-stands">TV Stands</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-tv-cabinet-42844">TV Panels</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-jack-stacking-tray-tables">TV Tray Tables</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-city-1-2-floating-wall-theater-entertainment-center">TV Panel Designs For Living Room</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-cabrini-tv-panel-2-2">LCD TV Panel</a>
<a class="round_btn link">TV panel designs</a>
<a class="round_btn link">Samsung LED TV panel </a>
<a class="round_btn link">Samsung TV display panel </a>
<a class="round_btn link">Entertainment Center</a>
<a class="round_btn link">Corner TV stand</a>
<a class="round_btn link">TV stand with mount</a>
<a class="round_btn link">Ikea TV stand</a>
<a class="round_btn link">TV console</a>
<a class="round_btn link">TV table</a>
<a class="round_btn link">Floating TV stand</a>
<a class="round_btn link">Modern Tv stand</a>
<a class="round_btn link">Rustic TV stand</a>
<a class="round_btn link">Best buy TV stands</a>
<a class="round_btn link">TV cabinet</a>
<a class="round_btn link">55 inch TV stand</a>
<a class="round_btn link">Flat screen TV stands</a>
<a class="round_btn link">Wall mount TV stand</a>
<a class="round_btn link">Plasma TV</a>
<a class="round_btn link">Corner TV cabinet</a>
<a class="round_btn link">60 inch TV stand</a>

{% endif %}
{% if collection.handle contains "armchairs" %}
<a class="round_btn link">Armchairs For Living Room</a>
<a class="round_btn link">Designer Armchairs</a>
<a class="round_btn link">Fabric Arm Chair</a>
<a class="round_btn link">Fabric Armchairs</a>
<a class="round_btn link">Folding Arm Chair</a>
<a class="round_btn link">Funky Armchairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-basket-dining-metal-armchair">Kitchen Armchairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-engage-bonded-leather-armchair">Leather Armchairs</a>
<a class="round_btn link">Occasional Armchairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-suncoast-rattan-arm-chair-set-of-2">Rattan Arm Chair</a>
<a class="round_btn link">Sofa Arm Chair</a>
<a class="round_btn link" href="https://www.modishstore.com/products/zuo-pori-arm-chair">Swivel Arm Chair</a>
<a class="round_btn link">Swoop Arm Chair</a>
<a class="round_btn link">Traditional Armchairs</a>
<a class="round_btn link">Upholstered Arm Chair</a>
<a class="round_btn link">Wicker Arm Chair</a>
{% endif %}
{% if collection.handle contains "bar-carts" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-carts">Bar Carts For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-urban-vogue-round-bar-cart">Bar Carts For The Home</a>
<a class="round_btn link">Designer Bar Carts</a>
<a class="round_btn link">Glass Bar Carts</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-summon-outdoor-patio-beverage-cart">Outdoor Bar Carts</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-carts">Unique Bar Carts</a>
{% endif %}
{% if collection.handle contains "cafe-bar-tables-stools" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools">Bar Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/flash-furniture-high-back-white-vinyl-executive-swivel-office-chair-with-black-trim">Bar Chairs With Backs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-lift-bar-stool-outdoor-patio-set-of-2">Bar Stool Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-fuse-counter-stool">Bar Stool Chairs For The Kitchen</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-attainment-drafting-stool">Bar Stool Chairs With Arms</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-fuse-counter-stool">Bar Stool Height Chairs</a>
<a class="round_btn link">Bar Stools And Chairs</a>
<a class="round_btn link">Bar Table Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-faxon-side-chairs-set-of-2">Breakfast Bar Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-gear-bar-stool">Breakfast Bar Chairs With Arms</a>
<a class="round_btn link">Breakfast Bar Stools And Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-fuse-counter-stool">Counter Height Bar Chairs</a>
<a class="round_btn link">Home Bar Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-fremont-barstool">Kitchen Bar Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-flare-bar-stool">Kitchen Counter Chairs Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/zuo-moor-bar-chair">Metal Bar Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/fine-mod-imports-wooden-bar-chair-30">Wooden Bar Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-barrow-stacking-indoor-outdoor-side-chair">Wooden Bar Chairs With Backs</a>
{% endif %}
{% if collection.handle contains "bar-stools" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/acrylic">Acrylic Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/lumisource-bar-bar-stool">Adjustable Bar Stools</a>
<a class="round_btn link">Aluminum Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/zuo-anime-barstool">Backless Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-deltana-barstool-brown-indoor-outdoor">Bamboo Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/lumisource-bar-bar-stool">Bar And Counter Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/lumisource-bar-bar-stool">Bar Height Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools">Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-gear-bar-stool">Breakfast Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-santin-swivel-barstool">Counter Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-santin-swivel-barstool">Designer Bar Stools</a>
<a class="round_btn link">Folding Bar Stool</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-armondo-gas-lift-swivel-barstool">Gas Lift Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/iron">Iron Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-santin-swivel-barstool">Kitchen Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-santin-swivel-barstool">Kitchen Bar Stools With Arms</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/leather">Leather Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/metal">Metal Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/modern">Modern Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-lift-bar-stool-outdoor-patio-set-of-2">Patio Bar Stools</a>
<a class="round_btn link">Rattan Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/flash-furniture-hercules-series-black-ladder-back-metal-restaurant-barstool-black-vinyl-seat">Restaurant Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/rustic">Rustic Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/steel">Stainless Steel Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools">Stools For Bar</a>
<a class="round_btn link" href="https://www.modishstore.com/products/lumisource-bar-bar-stool">Swivel Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/traditional">Traditional Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/products/lumisource-caviar-height-adjustable-barstool-with-swivel">Unique Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/upholstered">Upholstered Bar Stools</a>
<a class="round_btn link">Vintage Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/wood">Wooden Bar Stools</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-stools/iron">Wrought Iron Bar Stools</a>
{% endif %}
{% if collection.handle contains "baskets-bowls-buckets" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/bins-baskets-buckets">Baskets For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-vedette-5-wicker-basket-storage-tower">Wicker Baskets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/homart-willow">Willow Baskets</a>
<a class="round_btn link">Woven Baskets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-white-ceramic-dinnerware-min-4-set-of-3">Bowls For Soup</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-white-ceramic-dinnerware-min-4-set-of-3">Dinner Bowls</a>
<a class="round_btn link">Glass Salad Bowls</a>
<a class="round_btn link">Serving Bowls Set</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-white-ceramic-dinnerware-min-4-set-of-3">Soup Bowls</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-rectangle-curved-wooden-bowls-set-of-3">Wooden Bowls</a>
<a class="round_btn link">Aluminum Buckets</a>
<a class="round_btn link">Buckets For Sale</a>
<a class="round_btn link">Flower Buckets</a>
<a class="round_btn link">Galvanized Buckets</a>
<a class="round_btn link">Metal Buckets</a>
<a class="round_btn link">Tin Buckets</a>
{% endif %}
{% if collection.handle contains "bedroom-set" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/modway-bedroom-set">Bedroom Full Set</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/modway-bedroom-set">Bedroom Set</a>
<a class="round_btn link">Bedroom Set For Sale</a>
<a class="round_btn link">Bedroom Set Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-tracy-3-piece-king-bedroom-set">Bedroom Set King</a>
<a class="round_btn link">Bedroom Set Queen</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/modway-bedroom-set">Bedroom Set Sale</a>
<a class="round_btn link">Bedroom Vanity Set</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/modway-bedroom-set">Canopy Bedroom Set</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/modway-bedroom-set">Complete Bedroom Set</a>
<a class="round_btn link">Contemporary Bedroom Set</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/modway-bedroom-set">Full Set Bedroom Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/modway-bedroom-set">Kids Bedroom Set</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/modway-bedroom-set">Leather Bedroom Set</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/modway-bedroom-set">Marble Bedroom Set</a>
<a class="round_btn link">Modern Bedroom Set</a>
<a class="round_btn link">Platform Bedroom Set</a>
<a class="round_btn link">Set Of Bedroom Furniture</a>
<a class="round_btn link">Sleigh Bedroom Set</a>
<a class="round_btn link">Wood Bedroom Set</a>
<a class="round_btn link">Youth Bedroom Set</a>
{% endif %}
{% if collection.handle contains "beds" %}
<a class="round_btn link">Adjustable Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/king-size-beds">Bed Frames For King Size Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/queen-size-beds">Bed Frames For Queen Size Beds</a>
<a class="round_btn link">Beds And Bed Frames</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beds">Beds On Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/twin-size-beds">Childrens Beds</a>
<a class="round_btn link">Contemporary Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beds">Designer Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/full-size-beds">Double Beds For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/twin-size-beds">Guest Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beds/iron">Iron Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beds/leather">Leather Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beds/metal">Metal Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beds/oak">Oak Beds</a>
<a class="round_btn link">Pine Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beds">Quality Beds</a>
<a class="round_btn link">Queen Beds For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/twin-size-beds">Single Beds</a>
<a class="round_btn link">Storage Beds For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beds/upholstered">Upholstered Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beds/iron">Wrought Iron Beds</a>
{% endif %}
{% if collection.handle contains "beverage-dispensers" %}
<a class="round_btn link">Beverage Dispenser With Spigot</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beverage-dispensers">Hot Beverage Dispenser</a>
<a class="round_btn link">Hot And Cold Beverage Dispenser</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-ribbed-tilted-pitcher">Beverage Dispenser With Spout</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beverage-dispensers">Plastic Beverage Dispenser</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beverage-dispensers">Acrylic Beverage Dispenser</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-ribbed-tilted-pitcher">Best Beverage Dispenser</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/beverage-dispensers">Beverage Dispenser With Ice Chamber</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-ribbed-tilted-pitcher">Apothecary Beverage Dispenser</a>
<a class="round_btn link">Metal Beverage Dispenser</a>
<a class="round_btn link">Portable Beverage Dispenser</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-ribbed-tilted-pitcher">Jar Beverage Dispenser</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-ribbed-tilted-pitcher">Decorative Beverage Dispenser</a>
<a class="round_btn link">Rustic Beverage Dispenser</a>
{% endif %}
{% if collection.handle contains "book-boxes" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/book-boxes">Book Boxes For Sale</a>
<a class="round_btn link">Book Storage Boxes</a>
<a class="round_btn link">Reading Book Boxes</a>
<a class="round_btn link">Vintage Book Storage Boxes</a>
{% endif %}
{% if collection.handle contains "bookcases" %}
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-raw-metal-and-recycled-honey-wood-16-cube-display-unit">Bookcases And Shelving</a>
<a class="round_btn link">Bookcases On Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookcases">Bookcases With Doors For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-2-hinged-raw-metal-and-honey-wood-shelving-units-on-casters">Bookshelves And Bookcases</a>
<a class="round_btn link">Corner Bookcases And Shelves</a>
<a class="round_btn link">Corner Bookcases</a>
<a class="round_btn link">Glass Bookcases</a>
<a class="round_btn link">Home Bookcases</a>
<a class="round_btn link">Leaning Bookcases</a>
<a class="round_btn link">Open Bookcases And Shelves</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-raw-metal-and-recycled-honey-wood-16-cube-display-unit">Wide Bookcases</a>
{% endif %}
{% if collection.handle contains "bookends" %}
<a class="round_btn link">Animal Bookends</a>
<a class="round_btn link">Antique Bookends</a>
<a class="round_btn link">Art Deco Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Bookends For Books</a>
<a class="round_btn link">Bookends For Bookshelves</a>
<a class="round_btn link">Bookends For Children</a>
<a class="round_btn link">Bookends For Records</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Bookends For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends/metal">Bookends Metal</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Bookends Sale</a>
<a class="round_btn link">Cast Iron Bookends</a>
<a class="round_btn link">Cat Bookends</a>
<a class="round_btn link">Childs Bookends</a>
<a class="round_btn link">Cool Bookends</a>	
<a class="round_btn link">Creative Bookends</a>
<a class="round_btn link">Decorative Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Decorative Bookends For Sale</a>
<a class="round_btn link">Decorative Kitchen Bookends</a>
<a class="round_btn link">Designer Bookends</a>
<a class="round_btn link">Dog Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends/glass">Glass Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends/iron">Iron Bookends</a>
<a class="round_btn link">Library Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Lion Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends/marble">Marble Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends/metal">Metal Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Modern Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Music Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Nautical Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Nursery Bookends</a>
<a class="round_btn link">Office Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/products/homart-bunny-bookends">Rabbit Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/products/homart-eiffel-tower-bookends">Read Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/products/homart-eiffel-tower-bookends">Record Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Sports Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends/steel">Steel Bookends</a>
<a class="round_btn link">Stone Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Storage Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/products/homart-eiffel-tower-bookends">Thinker Bookends</a>
<a class="round_btn link">Unique Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends">Vintage Bookends</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bookends/wood">Wooden Bookends</a>
{% endif %}
{% if collection.handle contains "botanicals" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/botanicals">Botanicals And Herbs</a>
<a class="round_btn link">Essential Botanicals</a>
<a class="round_btn link">Herbal Botanicals</a>
<a class="round_btn link">Herbs And Botanicals</a>
<a class="round_btn link">Natural Botanicals</a>
<a class="round_btn link">Organic Botanicals</a>
{% endif %}
{% if collection.handle == "bowls" %}
<a class="round_btn link" href="https://www.modishstore.com/products/tozai-home-a-6-brilliance-hammered-bowl-iron">Colorful Serving Bowls</a>
<a class="round_btn link">Glass Salad Bowls</a>
<a class="round_btn link">Serving Bowls Set</a>
<a class="round_btn link">Square Bowls</a>
<a class="round_btn link">Wooden Bowls</a>
<a class="round_btn link">Wooden Salad Bowls</a>
<a class="round_btn link">Wooden Serving Bowls</a>
{% endif %}
{% if collection.handle contains "cabinets" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/cabinets">Cabinets And Cupboards</a>
<a class="round_btn link">Cabinets For Home</a>
<a class="round_btn link">Contemporary Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-durian-cabinet-with-open-shelves">Contemporary Kitchen Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cabinets">Cupboards And Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-wire-bar-storage-cabinet">Free Standing Kitchen Cabinets</a>
<a class="round_btn link">Home Cabinets</a>
<a class="round_btn link">Maple Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cabinets/metal">Metal Kitchen Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cabinets">Modern Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-wire-bar-storage-cabinet">Pine Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cabinets/rustic">Rustic Kitchen Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-stainless-steel-cabinet-with-3-drawers">Stainless Steel Kitchen Cabinets</a>
<a class="round_btn link">Vanity Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-wire-bar-storage-cabinet">Wall Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cabinets/wood">Wood Cabinets</a>
{% endif %}
{% if collection.handle contains "candelabra" %}
<a class="round_btn link">Brass Candelabra</a>
<a class="round_btn link">Candelabra Base</a>
<a class="round_btn link">Candelabra Holder</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-obelix-crystal-5-candle-candelabra-set-of-2">Crystal Candelabra</a>
<a class="round_btn link">Table Candelabra</a>
{% endif %}
{% if collection.handle contains "ceiling-lamp" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/ceiling-lamp">Ceiling Lamp</a>
<a class="round_btn link">Ceiling Lamp Fixtures</a>
<a class="round_btn link" href="https://www.modishstore.com/products/zuo-ambition-ceiling-lamp-black">Ceiling Lamp Shades</a>
<a class="round_btn link">Crystal Ceiling Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/ceiling-lamp/glass">Glass Ceiling Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/ceiling-lamp">Lamp Ceiling</a>
<a class="round_btn link">Lamp Shades For Ceiling Lights</a>
<a class="round_btn link" href="https://www.modishstore.com/products/zuo-epsilon-ceiling-lamp-white">Led Ceiling Lamp</a>
<a class="round_btn link">Pendant Ceiling Lamp</a>
{% endif %}
{% if collection.handle contains "chandeliers" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/chandeliers/acrylic">Acrylic Chandelier</a>
<a class="round_btn link">Beaded Chandelier</a>
<a class="round_btn link">Candle Chandelier</a>
<a class="round_btn link" href="https://www.modishstore.com/products/roost-lotus-flower-chandelier">Capiz Shell Chandelier</a>
<a class="round_btn link" href="https://www.modishstore.com/products/fine-mod-imports-pearl-hanging-chandelier">Chandelier For Bedroom</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/chandeliers">Chandelier Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-metal-crystal-5-light-crystal-chandelier">Crystal Chandelier</a>
<a class="round_btn link" href="https://www.modishstore.com/products/fine-mod-imports-pearl-hanging-chandelier">Decorative Chandelier</a>
<a class="round_btn link">Designer Chandelier Lighting</a>
<a class="round_btn link">Dining Chandelier</a>
<a class="round_btn link" href="https://www.modishstore.com/products/roost-bamboo-cloud-chandeliers">Hanging Chandelier</a>
<a class="round_btn link">Kitchen Chandelier</a>
<a class="round_btn link">Modern Chandelier Lighting</a>
<a class="round_btn link" href="https://www.modishstore.com/products/roost-lotus-flower-chandelier">Shell Chandelier</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/chandeliers/glass">Stained Glass Chandelier</a>
<a class="round_btn link">Wall Chandelier</a>
<a class="round_btn link">Traditional Chandeliers</a>
<a class="round_btn link">Elegant Chandeliers</a>
<a class="round_btn link">Entranceway Chandeliers</a>
{% endif %}
{% if collection.handle contains "closets" %}
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-2-0">Bedroom Closet</a>
<a class="round_btn link">Bedroom Closet Storage</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-2-0">Bedroom Closet Systems</a>
<a class="round_btn link">Closet</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-1-0">Closet Cabinets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-1-0">Closet Design</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-1-0">Closet Organizers</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-2-0">Closet Storage</a>
<a class="round_btn link">Closet Storage Ideas</a>
<a class="round_btn link">Closet Storage Units</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-1-0">Closet Units</a>
<a class="round_btn link">Clothes Closet</a>
<a class="round_btn link">Contemporary Closets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-2-0">Easy Closets</a>
<a class="round_btn link">Home Closet</a>
<a class="round_btn link">Kids Closet Organizer</a>
<a class="round_btn link">Linen Closet</a>
<a class="round_btn link">Master Closet</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-2-0">Office Closet</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-2-0">Reach In Closet</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-2-0">Shoe Closet</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-1-0">Shoe Racks For Closets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/manhattan-comfort-catalonia-mobile-shoe-closet-1-0">Walk In Closet</a>
<a class="round_btn link">Wall Closet</a>
<a class="round_btn link">Wardrobe Closet</a>
{% endif %}
{% if collection.handle contains "coat-racks" %}
<a class="round_btn link">Coat Racks And Hooks</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/coat-racks">Coat Racks For Sale</a>
<a class="round_btn link">Coat Racks Standing</a>
<a class="round_btn link">Commercial Coat Racks</a>
<a class="round_btn link" href="https://www.modishstore.com/products/edgemod-sphere-coat-rack-in-walnut">Decorative Wall Mounted Coat Racks</a>
<a class="round_btn link">Metal Coat Racks Standing</a>
<a class="round_btn link">Mounted Coat Racks</a>
<a class="round_btn link">Unique Coat Racks</a>
<a class="round_btn link">Wall Mounted Coat Racks</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/coat-racks">Wall Mounted Coat Racks With Shelf</a>
{% endif %}
{% if collection.handle contains "coffee-end-table" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/coffee-end-tables/acrylic">Acrylic Coffee Table</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-driftwood-round-coffee-table">Antique Coffee Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/coffee-end-tables">Coffee Table Sets</a>
<a class="round_btn link">Cube Coffee Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/coffee-end-tables/glass">Glass Coffee Table</a>
<a class="round_btn link">Iron And Wood Coffee Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/coffee-end-tables">Lift Top Coffee Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/coffee-end-tables/marble">Marble Coffee Table</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-jordan-mirrored-coffee-table">Mirrored Coffee Table</a>
<a class="round_btn link" href="https://www.modishstore.com/products/fine-mod-imports-shadow-outdoor-set">Outdoor Coffee Table</a>
<a class="round_btn link">Steel And Wood Coffee Table</a>
<a class="round_btn link">Storage Coffee Table</a>
<a class="round_btn link">Wood And Glass Coffee Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/coffee-end-tables/round">Circle End Table</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-tygo-wicker-end-table">Cube End Table</a>
<a class="round_btn link">Drum End Table</a>
<a class="round_btn link" href="https://www.modishstore.com/products/teton-home-loft-designed-wooden-end-table-night-stand-with-drawer-af-123">End Table With Baskets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/coffee-end-tables/glass">Glass End Table</a>
<a class="round_btn link">Living Room End Table Sets</a>
<a class="round_btn link">Mirrored End Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/coffee-end-tables/rectangle">Rectangle End Table</a>
<a class="round_btn link">Triangle End Table</a>
{% endif %} 
{% if collection.handle contains "console-tables" %}
<a class="round_btn link">Bedroom Console Table</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-arnold-storage-console">Console Table With Baskets</a>
<a class="round_btn link">Console Table With Shelves</a>
<a class="round_btn link">Console Table With Stools</a>
<a class="round_btn link">Display Console Table</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-press-console-table">Entrance Console Table</a>
<a class="round_btn link">Entry Console Table</a>
<a class="round_btn link">Hall Console Table</a>
<a class="round_btn link">Kitchen Console Table</a>
<a class="round_btn link">Leather Console Table</a>
<a class="round_btn link">Living Room Console Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/console-tables/marble">Marble Console Table</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-grand-acacia-metal-modern-console-table">Modern Console Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/console-tables/oak">Oak Console Table</a>
<a class="round_btn link">Rustic Console Table</a>
<a class="round_btn link">Wide Console Table</a>
{% endif %}
{% if collection.handle contains "counter-stools" %}
<a class="round_btn link" href="https://www.modishstore.com/products/fine-mod-imports-navy-counter-chair">Aluminum Counter Stool</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/counter-chair">Bar Counter Chair </a>
<a class="round_btn link" href="https://www.modishstore.com/collections/counter-chair">Counter Chair </a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-clink-counter-stool">Counter Stool Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/counter-chair">Counter Stool</a>
<a class="round_btn link">Counter Stool Swivel</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/counter-chair">Kitchen Counter Stool</a>
{% endif %}
{% if collection.handle contains "cutting-serving-boards" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/cutting-serving-boards">Countertop Cutting Board</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cutting-serving-boards">Flexible Cutting Board</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cutting-serving-boards">Marble Cutting Board</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cutting-serving-boards">Over Sink Cutting Board</a>
<a class="round_btn link">Wooden Cutting Board	</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cutting-serving-boards">Marble Serving Board</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cutting-serving-boards">Serving Board</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cutting-serving-boards">Slate Serving Board</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/cutting-serving-boards/wood">Wood Serving Board</a>
{% endif %}
{% if collection.handle contains "decanters-wine-racks" %}
<a class="round_btn link">Bar Decanters</a>
<a class="round_btn link">Decanters For Wine</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-tilted-wine-decanter-with-ice-pocket">Unique Wine Decanters</a>
<a class="round_btn link">Unusual Wine Decanters	</a>
<a class="round_btn link">Wine Decanters For Sale</a>
<a class="round_btn link">Decorative Wine Racks</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-vertical-wine-rack-set-of-2">Designer Wine Racks</a>
<a class="round_btn link">Metal Wine Racks</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-aziza-16-bottle-wicker-wine-rack">Unusual Wine Racks</a>
<a class="round_btn link">Vintage Wine Racks</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-vertical-wine-rack-set-of-2">Wine Bottle Racks Wall</a>
<a class="round_btn link">Wine Closet Racks</a>
<a class="round_btn link">Wine Racks For Home</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-vertical-wine-rack-set-of-2">Wine Racks On Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-vertical-wine-rack-set-of-2">Wrought Iron Wine Racks</a>
{% endif %}
{% if collection.handle contains "jars-and-canisters-and-bottles" %}
<a class="round_btn link" href="https://www.modishstore.com/products/twos-company-golden-hospitality-set-of-2-pineapple-jars">Decorative Jars</a>
<a class="round_btn link">Decorative Jars And Vases</a>
<a class="round_btn link">Decorative Jars For Gifts</a>
<a class="round_btn link">Decorative Jars With Lids</a>
<a class="round_btn link" href="https://www.modishstore.com/products/twos-company-golden-hospitality-set-of-2-pineapple-jars">Decorative Bottles And Jars</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/jars-canisters-and-bottles">Decorative Bottles For Sale</a>
<a class="round_btn link">Decorative Colored Glass Bottles</a>
<a class="round_btn link">Decorative Glass Bottles</a>
<a class="round_btn link">Decorative Glass Bottles And Jars</a>
<a class="round_btn link">Decorative Glass Bottles With Stoppers</a>
<a class="round_btn link">Decorative Kitchen Bottles</a>
<a class="round_btn link">Canisters And Jars</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/jars-canisters-and-bottles">Canisters For Sale</a>
<a class="round_btn link">Ceramic Canisters</a>
<a class="round_btn link">Decorative Canisters</a>
<a class="round_btn link">Food Canisters</a>
<a class="round_btn link">Glass Canisters</a>
<a class="round_btn link">Kitchen Canisters</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-ceramic-camper-canisters-set-of-2">Modern Canisters</a>
<a class="round_btn link">Rooster Canisters</a>
<a class="round_btn link">Storage Canisters</a>
<a class="round_btn link">Tea Canisters</a>
<a class="round_btn link">Unique Canisters</a>
<a class="round_btn link" href="https://www.modishstore.com/products/twos-company-s-24-vintage-apothecary-jars">Vintage Canisters</a>
{% endif %}
{% if collection.handle contains "decorative-pillows" %}
<a class="round_btn link">Contemporary Decorative Pillows</a>
<a class="round_btn link">Decorative Accent Pillows</a>
<a class="round_btn link">Decorative Holiday Pillows</a>
<a class="round_btn link">Decorative Pillows</a>
<a class="round_btn link">Decorative Pillows On Sale</a>
<a class="round_btn link">Decorative Throw Pillows</a>
<a class="round_btn link">Designer Decorative Pillows</a>
<a class="round_btn link">Floral Decorative Pillows</a>
<a class="round_btn link">Holiday Decorative Pillows</a>
<a class="round_btn link">Leather Decorative Pillows</a>
<a class="round_btn link">Living Room Decorative Pillows</a>
<a class="round_btn link">Luxury Decorative Pillows</a>
<a class="round_btn link">Modern Decorative Pillows</a>
<a class="round_btn link">Outdoor Decorative Pillows</a>
<a class="round_btn link">Pillows Decorative</a>
<a class="round_btn link">Striped Decorative Pillows</a>
<a class="round_btn link">Unique Decorative Pillows</a>
{% endif %}
{% if collection.handle contains "desk-accessories" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/desk-accessories">Accessories For Office Desk</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desk-accessories/acrylic">Acrylic Desk Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/products/twos-company-metallic-mini-notebook-w-pen">Best Office Desk Accessories</a>
<a class="round_btn link">Decorative Desk Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desk-accessories">Desk Office Accessories</a>
<a class="round_btn link">Desk Organizers And Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desk-accessories">Home & Office Desk Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/products/twos-company-metallic-mini-notebook-w-pen">Luxury Office Desk Accessories</a>
<a class="round_btn link">Modern Desk Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desk-accessories">Office Desk Accessories</a>
{% endif %}
{% if collection.handle contains "desk-lamps" %}
<a class="round_btn link">Architect Desk Lamp</a>
<a class="round_btn link">Bright Desk Lamp</a>
<a class="round_btn link">Computer Desk Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-ceramic-camper-lamp-set-of-2">Contemporary Desk Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desk-lamps">Desk Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desk-lamps">Desk Lamp Sale</a>
<a class="round_btn link">Desk Table Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desk-lamps">Desk Task Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/products/lumisource-emu-lamp">Fluorescent Desk Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/products/lumisource-2d-led-lamp-table-lamp">Led Desk Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desk-lamps/metal">Metal Desk Lamp</a>
<a class="round_btn link">Modern Desk Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-aged-brass-finish-wire-cage-desk-lamp">Traditional Desk Lamp</a>
{% endif %}
{% if collection.handle contains "desks" %}
<a class="round_btn link" href="https://www.modishstore.com/products/modway-turnabout-desk">Computer Desks For Home</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-knack-wood-desk">Computer Desks For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-stasis-office-desk">Computer Tables And Desks</a>
<a class="round_btn link">Corner Desks</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-knack-wood-desk">Desks For Home</a>
<a class="round_btn link">Desks For Home Office</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desks">Desks For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desks">Home Computer Desks</a>
<a class="round_btn link">Modern Desks For Home Office</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desks">Office Desks</a>
<a class="round_btn link">Student Desks</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/desks/wood">Table Desks Wood</a>
<a class="round_btn link">Unique Computer Desks</a>
<a class="round_btn link">Work Desks For Home</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-knack-wood-desk">Writing Desks For Sale</a>
{% endif %}
{% if collection.handle contains "dining-sets" %}
<a class="round_btn link" href="https://www.modishstore.com/products/modway-stalwart-dining-chairs-and-table-set-of-5">Casual Dining Room Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-stalwart-dining-chairs-and-table-set-of-5">Casual Dining Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-sets/contemprory">Contemporary Dining Room Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-sets/contemprory">Contemporary Dining Sets</a>
<a class="round_btn link">Dining Room Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-sets">Dining Room Sets On Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-sets">Dining Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-sets">Dining Table & Chair Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-sets">Formal Dining Room Furniture Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-sets/glass">Glass Dining Room Table Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-path-dining-chairs-and-table-set-of-5">Kitchen Dining Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-lippa-5-piece-fiberglass-dining-set">Modern Dining Room Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-sets">Modern Dining Sets</a>
<a class="round_btn link">Solid Wood Dining Room Sets</a>
<a class="round_btn link">Table And Chair Sets Dining</a>
<a class="round_btn link" href="https://www.modishstore.com/products/mod-made-block-table-set">Traditional Dining Room Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-sets/wood">Wood Dining Room Sets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-sets/wood">Wood Dining Room Table Sets</a>
{% endif %}
{% if collection.handle contains "dining-tables" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/contemprory">Contemporary Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables">Dining Room Table With Leaf</a>
<a class="round_btn link">Dining Table For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/contemprory">Dining Table Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables">Drop Leaf Dining Table</a>
<a class="round_btn link">Folding Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/glass">Glass Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/glass">Glass Top Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/marble">Marble Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/metal">Metal Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-lippa-60-oval-shaped-wood-top-dining-table">Modern Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/oak">Oak Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/oval">Oval Dining Table</a>
<a class="round_btn link">Pedestal Dining Room Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/rectangle">Rectangle Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/round">Round Dining Table</a>
<a class="round_btn link">Rustic Dining Room Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/rustic">Rustic Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/square">Square Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/steel">Stainless Steel Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables">Dining Room Tables</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/walnut">Walnut Dining Table</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-tables/wood">Wood Dining Table</a>
{% endif %}
{% if collection.handle contains "dining-chairs" %}
<a class="round_btn link" href="https://www.modishstore.com/products/lumisource-oregon-dining-set-chair">Antique Dining Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-intrepid-dining-side-chair">Contemporary Dining Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/aeon-dijon-dining-arm-chair">Dining Arm Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-chairs">Dining Chairs For Sale</a>
<a class="round_btn link">Dining Chairs With Arms</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-chairs">Dining Room Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-humphry-dining-chair-set-of-2-silver-nail-heads">Dining Side Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-chairs/fabric">Fabric Dining Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-telescope-set-of-2-dining-chairs">Folding Dining Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-chairs/leather">Leather Dining Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-lippa-dining-side-chair">Metal Dining Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-taupe-dining-armchair-set-of-4">Swivel Dining Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-cooper-dining-armchair">Unique Dining Room Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-chairs/upholstered">Upholstered Dining Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-siesta-wicker-side-chair-set-of-2">Wicker Dining Chairs</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dining-chairs/wood">Wooden Dining Chairs</a>
<a class="round_btn link">Best Dining Chairs</a>
<a class="round_btn link">Parsons Dining Chairs</a>
<a class="round_btn link">Outdoor Dining Chairs</a>
<a class="round_btn link">Retro Dining Chairs</a>
<a class="round_btn link">Dining Chairs Online</a>
<a class="round_btn link">Kitchen Dining Chairs</a>
{% endif %}
{% if collection.handle contains "dinnerware" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/dinnerware/ceramic">Ceramic Dinnerware</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dinnerware">Dinnerware Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dinnerware/glass">Glass Dinnerware</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dinnerware/glass">Glass Dinnerware Set</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/kalalou-dinnerware">Luxury Dinnerware</a>
<a class="round_btn link">Porcelain Dinnerware</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dinnerware">Pottery Dinnerware</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dinnerware">Dinnerware Sets</a>
<a class="round_btn link">Vintage Dinnerware</a>
{% endif %}
{% if collection.handle contains "display-cases" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/display-cases">Clear Plastic Display Cases</a>
<a class="round_btn link">Collectors Display Cases</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/display-cases">Display Cases</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/display-cases">Display Cases For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-wooden-display-stands-with-marble-tops-set-of-3">Floor Display Cases</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/display-cases/glass">Glass Cases For Display</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-oswald-3-tier-etagere">Plastic Display Cases</a>
<a class="round_btn link">Store Display Cases</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/display-cases/wood">Wooden Display Cases</a>
<a class="round_btn link">Wooden Display Cases For Collectibles</a>
{% endif %}
{% if collection.handle contains "drawers" %}
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-brent-4-drawer-rolling-chest-black-brown-silver">Bedroom Chests Of Drawers</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/drawers">Chest Of Drawers</a>
<a class="round_btn link">Chest Of Drawers For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-brent-4-drawer-rolling-chest-black-brown-silver">Chest Of Drawers Furniture</a>
<a class="round_btn link" href="https://www.modishstore.com/products/dimond-home-teatro-chest-in-antique-smoke">Chest Of Drawers Set</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/drawers">Chests Of Drawers</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-valeria-3-drawer-chest">Drawers For Bedroom</a>
<a class="round_btn link">Long Chest Of Drawers</a>
<a class="round_btn link" href="https://www.modishstore.com/products/safavieh-damien-3-drawer-storage-bench">Long Low Chest Of Drawers</a>
<a class="round_btn link">Low Chest Of Drawers</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-mirrored-4-drawer-cabinet">Narrow Chest Of Drawers</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-mirrored-4-drawer-cabinet">Tall Chest Of Drawers</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/drawers/wood">Wooden Chest Of Drawers</a>
<a class="round_btn link">Wooden Drawers</a>
{% endif %}
{% if collection.handle contains "dresser" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/dresser">Dressers On Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-tracy-chest">Bedroom Dressers</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-tracy-chest">Bedroom Dressers Chests</a>
<a class="round_btn link">Bedroom Tall Dressers</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/dresser">Dressers And Chests</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-jesenia-3-drawer-chest">Dressers And Chest Of Drawers</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-cosima-mirror-drawered-chest">Mirrored Dressers</a>
{% endif %}
{% if collection.handle contains "fireplace-accessories" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/fireplace-accessories">Accessories For Fireplace</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/fireplace-accessories">Brass Fireplace Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/fireplace-accessories">Electric Fireplace Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/fireplace-accessories">Fireplace Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/fireplace-accessories">Fireplace Insert Accessories</a>
<a class="round_btn link">Fireplace Parts And Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/fireplace-accessories">Fireplace Screens And Accessories</a>
<a class="round_btn link">Vintage Fireplace Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/fireplace-accessories">Wood Fireplace Accessories</a>
{% endif %}
{% if collection.handle contains "flasks" %}
<a class="round_btn link">Alcohol Flasks</a>
{% endif %}
{% if collection.handle contains "floor-lamps" %}
<a class="round_btn link">Curved Floor Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/floor-lamps">Dimmable Floor Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/floor-lamps">Floor Lamp Base</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/floor-lamps">Floor Lamp Lighting</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-flashlight-floor-lamp">Floor Lamp Living Room</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/floor-lamps">Floor Standing Lamp</a>
<a class="round_btn link">Fluorescent Floor Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/floor-lamps/glass">Glass Floor Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/floor-lamps/metal">Metal Floor Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/floor-lamps">Narrow Floor Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/floor-lamps">Stained Glass Floor Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-spectrum-floor-lamp">Task Floor Lamp</a>
<a class="round_btn link">Tree Floor Lamp</a>
<a class="round_btn link" href="https://www.modishstore.com/products/a-b-home-arris-balanced-arm-tripod-floor-lamp-set-of-2">Tripod Floor Lamp</a>
{% endif %}
{% if collection.handle contains "frames" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/frames">Photo Picture Frame</a>
<a class="round_btn link" href="https://www.modishstore.com/products/s-2-golden-coral-photo-frames-metal">2 Picture Photo Frame</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/frames">Electronic Photo Frame</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/frames">Pic Photo Frame</a>
<a class="round_btn link">Leather Photo Frame</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/frames">Photo Frame Sale</a>
<a class="round_btn link">Home Photo Frame</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/frames">Photo Frame</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/frames">Frame Picture</a>
<a class="round_btn link">Picture Frame Sets</a>
<a class="round_btn link">Double Picture Frame</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/frames">Picture Frame Sale</a>
<a class="round_btn link">Leather Picture Frame</a>
<a class="round_btn link">Unique Picture Frame</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/frames">Picture Frame Ideas</a>
{% endif %}
{% if collection.handle contains "glass-terrariums" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/glass-terrariums">Blown Glass Terrarium</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/glass-terrariums">Faceted Glass Terrarium</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/glass-terrariums/metal+glass">Glass And Metal Terrarium</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/glass-terrariums">Glass Terrarium</a>
<a class="round_btn link">Glass Terrarium Containers</a>
<a class="round_btn link" href="https://www.modishstore.com/products/homart-wall-bubble">Glass Vase Terrarium</a>
<a class="round_btn link">Hanging Glass Terrarium Containers</a>
<a class="round_btn link" href="https://www.modishstore.com/products/homart-glass-dome-recycled">Recycled Glass Terrarium</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/glass-terrariums/square">Square Glass Terrarium</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/glass-terrariums/glass">Stained Glass Terrarium</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/glass-terrariums/wood+glass">Wood And Glass Terrarium</a>
{% endif %}
{% if collection.handle contains "glassware" %}
<a class="round_btn link">Acrylic Glassware</a>
<a class="round_btn link">Everyday Glassware Sets</a>
<a class="round_btn link">Christmas Glassware</a>
<a class="round_btn link">Colored Glassware Sets</a>
<a class="round_btn link">Acrylic Glassware Sets</a>
<a class="round_btn link">Kitchen Glassware Sets</a>
<a class="round_btn link">Glassware Wine Glasses</a>
<a class="round_btn link">Cool Glassware Sets</a>
<a class="round_btn link">Christmas Glassware Sets</a>
<a class="round_btn link">Champagne Wine Glass</a>
<a class="round_btn link">Traditional Wine Glass</a>
<a class="round_btn link">Water Drinking Glass</a>
<a class="round_btn link">Ghampagne glasses</a>
<a class="round_btn link">Shot Glasses</a>
<a class="round_btn link">Cocktail Glasses</a>
<a class="round_btn link">Tumblers Glasses</a>
<a class="round_btn link">Champagne Flutes</a>
{% endif %}
{% if collection.title contains "grills-accessories" %}
<a class="round_btn link">Barbecue Grill Accessories</a>
<a class="round_btn link">BBQ Grill Accessories</a>
<a class="round_btn link">Best Grill Accessories</a>
<a class="round_btn link">Charcoal Grill Accessories</a>
<a class="round_btn link">Cool Grill Accessories</a>
<a class="round_btn link">Gas Grill Accessories</a>
<a class="round_btn link">Gas Grill Parts And Accessories</a>
<a class="round_btn link">Grill Accessories</a>
<a class="round_btn link">Grill Cooking Accessories</a>
<a class="round_btn link">Outdoor Grill Accessories</a>
<a class="round_btn link">Propane Grill Accessories</a>
<a class="round_btn link">Smoker Grill Accessories</a>
<a class="round_btn link">Unique Grill Accessories</a>
<a class="round_btn link">BBQ Parts And Accessories</a>
<a class="round_btn link">BBQ Pit Accessories</a>
<a class="round_btn link">BBQ Smoker Accessories</a>
<a class="round_btn link">BBQ Tools And Accessories</a>
<a class="round_btn link">Best BBQ Accessories</a>
<a class="round_btn link">Charcoal BBQ Accessories</a>
<a class="round_btn link">Cool BBQ Accessories</a>
<a class="round_btn link">Gas BBQ Accessories</a>
<a class="round_btn link">Outdoor BBQ Accessories</a>
{% endif %}
{% if collection.handle contains "headboards" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards">Cloth Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards">Cushioned Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards/upholstered">Custom Upholstered Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards/fabric">Fabric Covered Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/full-size-headboards">Full Size Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards">Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-annabel-full-vinyl-headboard">Headboards For Full Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/king-size-headboards">Headboards For King Size Beds</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/queen-size-headboards">Headboards For Queen Size Bed</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards">Headboards For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/full-size-headboards">Headboards Full Size Bed</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards">Headboards On Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards">Iron Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards/metal">Metal Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-lily-full-fabric-headboard">Modern Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards">Quilted Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/twin-size-headboards">Single Bed Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/twin-size-headboards">Twin Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-sovereign-queen-vinyl-headboard">Unique Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards">Wall Mounted Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards/wood">Wooden Headboards</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/headboards">Wrought Iron Headboards</a>
{% endif %}
{% if collection.handle contains "holiday" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/holiday">Holiday Decor Sale</a>
<a class="round_btn link">Holiday Wall Decor</a>
<a class="round_btn link">Angel Christmas Ornaments</a>
<a class="round_btn link">Bird Ornaments</a>
<a class="round_btn link">Blown Glass Ornaments</a>
<a class="round_btn link">Christmas Decorations</a>
<a class="round_btn link">Christmas Elf</a>
<a class="round_btn link">Christmas Outdoor Decorations</a>
<a class="round_btn link">Christmas Stockings</a>
<a class="round_btn link">Christmas Tree Decoration Set</a>
<a class="round_btn link">Christmas Tree Lights</a>
<a class="round_btn link">Christmas Tree Ornaments</a>
<a class="round_btn link">Clear Glass Ornaments</a>
<a class="round_btn link">Decorative Christmas Lights</a>
<a class="round_btn link">Decorative Christmas Ornaments</a>
<a class="round_btn link">Elegant Christmas Decor</a>
<a class="round_btn link">Holiday Christmas Decorations</a>
<a class="round_btn link">Holiday Ornaments</a>
<a class="round_btn link">Modern Christmas Decor</a>
<a class="round_btn link">Sale Christmas Ornaments</a>
<a class="round_btn link">Traditional Christmas Decorations</a>
<a class="round_btn link">Unique Christmas Decorations</a>
<a class="round_btn link">Unique Christmas Ornaments</a>
<a class="round_btn link">Vintage Christmas Decorations</a>
<a class="round_btn link">Wooden Christmas Tree</a>
<a class="round_btn link">Xmas Ornaments</a>
{% endif %}
{% if collection.handle contains "home-accents" %}
<a class="round_btn link">Contemporary Home Accents</a>
<a class="round_btn link">Decorative Home Accents</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/home-accents">Home Accents</a>
{% endif %}
{% if collection.handle contains "shelves-hooks-racks" %}
<a class="round_btn link">Coat Hooks</a>
<a class="round_btn link">Coat Rack Hooks</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-gumball-coat-rack">Decorative Coat Hooks</a>
<a class="round_btn link">Decorative Hooks</a>
<a class="round_btn link">Door Hooks</a>
<a class="round_btn link">Wall Hooks</a>
<a class="round_btn link">Decorative Shelves</a>
<a class="round_btn link">Floating Shelves</a>
<a class="round_btn link">Industrial Shelves</a>
<a class="round_btn link">Living Room Wall Shelves</a>
<a class="round_btn link">Metal Shelves</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-metal-shelves-set-of-4">Modern Shelves</a>
<a class="round_btn link" href="https://www.modishstore.com/products/teton-home-wood-wall-shelf-with-4-hooks-wd-037">Shelves For Sale</a>
<a class="round_btn link">Stainless Steel Shelves</a>
<a class="round_btn link">Storage Shelves</a>
<a class="round_btn link">Utility Shelves</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-recycled-wood-and-metal-shelves-set-of-2">Wall Decor Shelves</a>
<a class="round_btn link">Wall Mounted Shelves</a>
{% endif %}
{% if collection.handle contains "ice-party-buckets" %}
<a class="round_btn link" href="https://www.modishstore.com/collections/ice-party-buckets">Beer Ice Buckets For Sale</a>
<a class="round_btn link">Champagne Ice Buckets For Sale</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/ice-party-buckets">Ice Buckets For Parties</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/ice-party-buckets/plastic">Plastic Ice Buckets</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/ice-party-buckets">Unusual Ice Buckets</a>
<a class="round_btn link">Party Buckets For Drinks</a>
<a class="round_btn link">Tin Party Buckets</a>
<a class="round_btn link">Party Buckets For Sale</a>
<a class="round_btn link">Ice Buckets For Bars</a>
<a class="round_btn link">Old Ice Buckets</a>
<a class="round_btn link">Vintage Ice Buckets For Sale</a>
<a class="round_btn link">Metal Ice Buckets</a>
<a class="round_btn link">Pub Ice Buckets</a>
<a class="round_btn link">Silver Ice Buckets For Sale</a>
{% endif %}
{% if collection.handle contains "living-room" %}
<a class="round_btn link">Living Room Sofa</a>
<a class="round_btn link">Living Room Sectionals</a>
<a class="round_btn link">Living Room Couches</a>
<a class="round_btn link">Living Room Accessories</a>
<a class="round_btn link">Living Room Furnishings</a>
<a class="round_btn link">Living Room Cabinets</a>
<a class="round_btn link">Living Room Tables</a>
<a class="round_btn link">Living Room Lamps</a>
<a class="round_btn link">Living Room Lighting</a>
<a class="round_btn link">Living Room Funiture</a>
<a class="round_btn link">Living Room Coaches</a>
<a class="round_btn link">Living Room Decor</a>
<a class="round_btn link">Living Room Bar </a>
<a class="round_btn link">Living Room Furniture</a>
{% endif %}
  {% if collection.handle contains 'roost-kitchen-entertaining-wine-bar-cart-decanters' %}
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-carts">Bar Carts For Sale</a>
<a class="round_btn link">Glass Bar Carts</a>
<a class="round_btn link" href="https://www.modishstore.com/products/modway-summon-outdoor-patio-beverage-cart">Outdoor Bar Carts</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/bar-carts">Unique Bar Carts</a>
<a class="round_btn link" href="https://www.modishstore.com/products/kalalou-tilted-wine-decanter-with-ice-pocket">Unique Wine Decanters</a>
<a class="round_btn link">Decorative Wine Racks</a>
<a class="round_btn link">Vintage Wine Racks</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/wine-bar-accessories">Luxury Wine Accessories</a>
<a class="round_btn link" href="https://www.modishstore.com/products/twos-company-horn-handle-4-pc-bar-set">Wine Accessories Gift Set</a>
<a class="round_btn link" href="https://www.modishstore.com/collections/wine-bar-accessories">Bar And Wine Accessories</a>
<a class="round_btn link">Novelty Bar Accessories</a>
  {% endif %}
{% if collection.Title contains 'Totes & Personal Items' %}
<a class="round_btn link">Roost Linen Totes</a>
<a class="round_btn link">Linen Knapsacks</a>
<a class="round_btn link">Tote Bags</a>
<a class="round_btn link">Leather Tote Bags</a>
<a class="round_btn link">Linen Clutch Bags</a>
<a class="round_btn link">Jewelry Rolls</a>
<a class="round_btn link">Pouches</a>
<a class="round_btn link">Totes & Pouches</a>
<a class="round_btn link">Totes</a>
<a class="round_btn link">Linen Pouches</a>
<a class="round_btn link">Canvas Bag</a>
<a class="round_btn link">Tote Bags For Women</a>
<a class="round_btn link">Tote Handbags</a>
<a class="round_btn link">Reusable Grocery Bags</a>
<a class="round_btn link">Beach Tote</a>
{% endif %}
{% if collection.handle contains 'lighting' %}
<a class="round_btn link">Pendant Lighting</a>
<a class="round_btn link">Kitchen Lighting</a>
<a class="round_btn link">Outdoor Lighting</a>
<a class="round_btn link">Modern Lighting</a>
<a class="round_btn link">Exterior Lighting</a>
<a class="round_btn link">Dining Room Lighting</a>
<a class="round_btn link">Contemporary Lighting</a>
<a class="round_btn link">Lighting Online</a>
<a class="round_btn link">Bedroom Lighting</a>
<a class="round_btn link">Designer Lighting</a>
<a class="round_btn link">Living Room Lighting</a>
<a class="round_btn link">Industrial Lighting</a>
<a class="round_btn link">Interior Lighting</a>
<a class="round_btn link">Indoor Lighting</a>
<a class="round_btn link">Garden Lighting</a>
<a class="round_btn link">Rustic Lighting</a>
<a class="round_btn link">Architectural Lighting</a>
<a class="round_btn link">Chandelier Lighting</a>
<a class="round_btn link">Lighting Accessories</a>
<a class="round_btn link">Traditional Lighting</a>
<a class="round_btn link">Floor Lighting</a>
<a class="round_btn link">Wall Sconce Lighting</a>
<a class="round_btn link">Lamps & Lighting</a>
<a class="round_btn link">Vintage Lighting</a>
<a class="round_btn link">Antique Lighting</a>
<a class="round_btn link">Decorative Commercial Lighting</a>
<a class="round_btn link">Unique Lighting Fixtures For Home</a>
{% endif %}
{% if collection.handle contains 'furniture' %}
<a class="round_btn link">Bedroom Furniture</a>
<a class="round_btn link">Home Furniture</a>
<a class="round_btn link">Living Room Furniture</a>
<a class="round_btn link">Contemporary Furniture</a>
<a class="round_btn link">Dining Room Furniture</a>
<a class="round_btn link">Modern Furniture</a>
<a class="round_btn link">Kitchen Furniture</a>
<a class="round_btn link">Leather Furniture</a>
<a class="round_btn link">Wooden Furniture</a>
<a class="round_btn link">Traditional Furniture</a>
<a class="round_btn link">Luxury Furniture</a>
<a class="round_btn link">Bamboo Furniture</a>
<a class="round_btn link">Metal Furniture</a>
<a class="round_btn link">Modern Contemporary Furniture</a>
<a class="round_btn link">Upholstered Furniture</a>
<a class="round_btn link">Outdoor Furniture</a>
<a class="round_btn link">Patio Furniture</a>
<a class="round_btn link">Rustic Furniture</a>
<a class="round_btn link">Antique Furniture</a>
{% endif %}
{% if collection.handle == 'roost-boatwood-collection' %}
<a class="round_btn link">Rustic Furniture</a>
<a class="round_btn link">Vintage Furniture</a>
<a class="round_btn link">Boatwood Furniture</a>
<a class="round_btn link">Boatwood Tables</a>
<a class="round_btn link">Boatwood Bench</a>
<a class="round_btn link">Boatwood Stool</a>
<a class="round_btn link">Boatwood Dining Table</a>
<a class="round_btn link">Boatwood Crates</a>
<a class="round_btn link">Boatwood Shelves</a>
<a class="round_btn link">Vintage Wooden Crate</a>
<a class="round_btn link">Reclaimed Wood Tables & Pedestals</a>
<a class="round_btn link">Reclaimed Wood Side Table</a>
<a class="round_btn link">Reclaimed Wood Coffee Table</a>
{% endif %}
{% if collection.handle contains 'roost-wall-decor-shelves-hooks-crate-wall-display' %}
<a class="round_btn link">Glass Display Case</a>
<a class="round_btn link">Trophy Display Case</a>
<a class="round_btn link">Countertop Display Case</a>
<a class="round_btn link">Table Top Display Case</a>
<a class="round_btn link">Clear Display Case</a>
<a class="round_btn link">Collectible Display Case</a>
<a class="round_btn link">Wood And Glass Display Case</a>
<a class="round_btn link">Showcase Display Case</a>
<a class="round_btn link">Cabinet Display Case</a>
<a class="round_btn link">Modern Glass Display Case</a>
<a class="round_btn link">Wall Unit Display Case</a>
<a class="round_btn link">Wooden Display Case With Glass Top</a>
<a class="round_btn link">Glass Door Display Case</a>
<a class="round_btn link">Display Case For Wall</a>
<a class="round_btn link">Antique Display Case</a>
<a class="round_btn link">Storage Display Case</a>
<a class="round_btn link">Wall Display Case With Glass Doors</a>
<a class="round_btn link">Wall Hung Display Case</a>
<a class="round_btn link">Display Case With Shelves</a>
{% endif %}
{% if collection.handle contains 'roost-home-accessories-fireplace' %}
<a class="round_btn link">Accessories For Fireplace</a>
<a class="round_btn link">Antique Fireplace Accessories</a>
<a class="round_btn link">Brass Fireplace Accessories</a>
<a class="round_btn link">Cast Iron Fireplace Accessories</a>
<a class="round_btn link">Contemporary Fireplace Accessories</a>
<a class="round_btn link">Electric Fireplace Accessories</a>
<a class="round_btn link">Fireplace Decorative Accessories</a>
<a class="round_btn link">Fireplace Hearth Accessories</a>
<a class="round_btn link">Fireplace Insert Accessories</a>
<a class="round_btn link">Fireplace Mantel Accessories</a>
<a class="round_btn link">Fireplace Parts And Accessories</a>
<a class="round_btn link">Fireplace Screens And Accessories</a>
<a class="round_btn link">Fireplace Tools And Accessories</a>
<a class="round_btn link">Modern Fireplace Accessories</a>
<a class="round_btn link">Vintage Fireplace Accessories</a>
<a class="round_btn link">Wood Burning Fireplace Accessories</a>
<a class="round_btn link">Wrought Iron Fireplace Accessories</a>
{% endif %}
{% if collection.handle contains 'go-home-chairs' %}
<a class="round_btn link">Office Chairs</a>
<a class="round_btn link">Dining Chairs</a>
<a class="round_btn link">Chairs For Sale</a>
<a class="round_btn link">Dining Room Chairs</a>
<a class="round_btn link">Swivel Chairs</a>
<a class="round_btn link">Occasional Chairs</a>
<a class="round_btn link">Living Room Chairs</a>
<a class="round_btn link">Folding Chairs</a>
<a class="round_btn link">Kitchen Chairs</a>
<a class="round_btn link">Designer Chairs</a>
<a class="round_btn link">Best Chairs</a>
<a class="round_btn link">Bedroom Chairs</a>
<a class="round_btn link">Modern Chairs</a>
<a class="round_btn link">Wooden Chairs</a>
<a class="round_btn link">Bar Chairs</a>
<a class="round_btn link">Rattan Chairs</a>
<a class="round_btn link">Upholstered Chairs</a>
<a class="round_btn link">Side Chairs</a>
<a class="round_btn link">Stackable Chairs</a>
<a class="round_btn link">Wingback Chairs</a>
<a class="round_btn link">Bistro Chairs</a>
<a class="round_btn link">Furniture Chairs</a>
<a class="round_btn link">Contemporary Chairs</a>
<a class="round_btn link">Sitting Room Chairs</a>
<a class="round_btn link">Decorative Chairs For Living Room</a>
<a class="round_btn link">Club Chairs For Sale</a>
<a class="round_btn link">Online Chairs</a>
<a class="round_btn link">Reclining Arm Chairs</a>
<a class="round_btn link">Rocking Chairs</a>
{% endif %}
{% if collection.handle contains 'accent-chairs' %}
<a class="round_btn link">Accent Arm Chairs</a>
<a class="round_btn link">Accent Chair Sale</a>
<a class="round_btn link">Accent Chair Set</a>
<a class="round_btn link">Accent Chair With Ottoman</a>
<a class="round_btn link">Accent Chairs Online</a>
<a class="round_btn link">Accent Club Chairs</a>
<a class="round_btn link">Accent Lounge Chairs</a>
<a class="round_btn link">Accent Side Chairs</a>
<a class="round_btn link">Accent Sofa Chair</a>
<a class="round_btn link">Armless Accent Chairs</a>
<a class="round_btn link">Bedroom Accent Chairs</a>
<a class="round_btn link">Best Accent Chairs</a>
<a class="round_btn link">Butterfly Accent Chair</a>
<a class="round_btn link">Club Accent Chair</a>
<a class="round_btn link">Contemporary Accent Chairs</a>
<a class="round_btn link">Decorative Accent Chairs</a>
<a class="round_btn link">Dining Accent Chairs</a>
<a class="round_btn link">High Back Accent Chairs</a>
<a class="round_btn link">Leather Accent Chairs</a>
<a class="round_btn link">Living Room Accent Chairs</a>
<a class="round_btn link">Modern Accent Chairs</a>
<a class="round_btn link">Stylish Accent Chairs</a>
<a class="round_btn link">Swivel Accent Chair</a>
<a class="round_btn link">Traditional Accent Chairs</a>
<a class="round_btn link">Tufted Accent Arm Chair</a>
<a class="round_btn link">Unique Accent Chairs</a>
<a class="round_btn link">Unusual Accent Chairs</a>
<a class="round_btn link">Upholstered Accent Chairs</a>
<a class="round_btn link">Wingback Accent Chair</a>
{% endif %}