<div class="container">
  <div class="blog-container">
    {%- section 'blog-template' -%}

    {%- if blog.articles_count > 0 -%}
<!--    Punit 2020/01/11 Start: hiding slide bar id-P_1  -->
<!--       {%- section 'blog-sidebar' -%} -->
<!--    Punnet 2020/01/11 End: hiding slide bar id-P_1  -->   

    {%- endif -%}
  </div>
</div>
