
<div class="container container--narrow" style="max-width: 80%;" >
  
  <header class="page__header page__header--centered">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    {{ page.content }}
  </div>
</div>
<style>
 
   
  
  
  
  
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1px;
}
.grid-item {
  padding: 20px;
  background:#EDEDEE;
  border:1px solid black;
}

.landing_title
  {
    text-align:center;
  }

  
#img1
  {
    
    margin-top: auto;
    height: 50px;
    position: absolute;
    right: -67px;
    top: -7px;
    width: 76%;
    display: block !important;
  }

@media screen and (max-width: 769px){
.buy-now-btn {
font-size: 14px;
padding: 5px 17px;
}}
  
  
    
#btn
  {
    
    background-color: #DA6300;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin: 0;
    line-height: 1.42;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    margin-left: 44%;
    margin-bottom: 2%
  }

  #buy__no
  {
background-color: #DA6300;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin: 0;
    line-height: 1.42;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
  }
</style>