<!-- <!-- 	Tejashwani 15/01/2021 Start:      id=7       -->
<!-- <!-- 	Tejashwani 15/01/2021 Start: commented for increasing the div width   id=7       -->
<!-- <div class="container container--narrow" > -->
  
  
<div class="container container--narrow" style="max-width: 80%;" >
  <!-- <!-- 	Tejashwani 15/01/2021 End:         id=7       -->
  
  
  
  <header class="page__header page__header--centered">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    {{ page.content }}
  </div>
</div>