<!--id=59-->
{%if page.handle == 'recycled-furniture' %}
	{% assign name= 'Top Buddha & Buddhism Inspired Products On Modish' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="" %}
	{%assign name_title= "<h2 class='h2'>TOP BUDDHA & BUDDHISM INSPIRED PRODUCTS ON MODISH</h2>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/modish-buddha-banner.jpg?v=1585543581"%}
	{%assign description="<p>Those are just some of the emotions Buddhism inspires. And it wouldn't be wrong to say that a host of people would want their interiors to reflect these values. In a world filled with constant ups and downs, Buddhist aesthetics and meditation offer a way to stay grounded and calm, without the clutter. Here are ten ways to transform areas of your home or office into a peaceful sanctuary, inspired by a Buddhist lifestyle. With the most inspiring Buddha statues, Buddha gifts, Buddha chairs, Buddha heads, busts, lucky charms, paintings, and more, it's time to raise your spiritual quotient.</p>"%}
	{%assign name_handle= "" %}

{%elsif page.handle == 'the-top-selling-12-woven-chairs-on-modish' %}
	{% assign name= 'The Top Selling 12 Woven Chairs on Modish' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/dining-sets" %}
	{%assign name_title= "<h2 class='h2'></h2>"%}
	{% assign name_description="<p></p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/modish-banner.jpg?v=1589863476"%}
	{%assign description="<h2><strong>Take A Seat: Our 12 Top Selling Woven Chairs</strong></h2><p>A chair can be so much more than just an object that you sit on. It can add style and grace to any interior. It can be crafted to help you relax. It can be a comfortable and admired piece that's a source of comfort over the years.</p><p>Chairs come in so many alluring styles. They can be <strong>chaise loungers, pool lounge chairs, patio lounge chairs, restaurant chairs</strong>, and so much more.</p><p>Woven chairs deliver all of these qualities and more. They come in many designs and materials, from the organic to the synthetic. Among these are <strong>woven wicker chairs, woven rattan chairs, or metal chairs</strong> with a durable fabric-like structure. </p><p>This makes them perfectly suited to serve as <strong>lounge chairs, dining room chairs, pool chairs, outdoor chairs</strong>, or just any other purpose you can think of. Sit back and take your pick from any of these 12 bestselling woven chairs on Modish.</p>"%}
	{%assign name_handle= " " %}

{%endif%}
<div class="" >
  
  <header class="page__header--centered">
  <center> <h1 class="section__title heading h1 title-css">{{ page.title }}</h1> </center>


</header>
</div>

  

{{ page.content }}


<style> .pricestara{
        padding: 3px;
    align-items: center;
/*    position: absolute; */
    display:flex;
  bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
  } .childa{
    width:50%;}
  @media screen and (max-width: 641px){
    .childa{
    width:100%;}
  .pricestara{
      
/*    position: absolute; */
    display:block;
    
  }
  
  }
  
  .backcolor{
    background-color: #ffffff !important;
  }
  .del-price{
  font-size: .8em;
    font-weight: 400;
    color: #ffb83f;
  }
  .back-color{
      background-color: #fbfbfb;
  }

  
  .btn-back{
  float: none !important;
    border-radius:0px !important;
  }
  .spr-icon.spr-icon{
    height: 19px !important;
    width: 19px !important;
  }
  .price-color{
    
  font-size: 1.4em;
    font-weight: 600;
    color: #fff;
  }
  .pricestar{
        padding: 3px;
    align-items: center;
/*    position: absolute; */
    display:flex;
  bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
  }
  .rte ul li::before{
  display:none !important;}
  
  .l_recycled_furniture_desc{
      list-style: none outside !important;
  }
  .l_recycled_furniture_desc li:nth-child(6n+1) {
    padding-left: 0;
}
  .l_recycled_furniture_desc li:nth-child(6n+2) {
    padding-left: 40px;
}
  .l_recycled_furniture_desc li:nth-child(6n+3) {
    padding-left: 80px;
}
  .l_recycled_furniture_desc li:nth-child(6n+4) {
    padding-left: 120px;
}
  
  
  
  
  
  
  
  
  
  
  .title-css{
  color: #fff;
    text-transform: capitalize;
    background-color: #96b49c;
/*     color: #636363; */
    font-size: 2.1em;
    font-weight: 100;
       padding: 20px 40px 20px 40px;
    text-align: center;
    line-height:1.4;
  
  }
  
  @media screen and (max-width: 641px){
     .title-css{
  
    font-size: 1.2em;
    line-height:30px;
    padding: 10px 20px 10px 20px;
  }
  }
  
  .description p a{
  color: var(--primary-button-background) !important;
  }
  .pro-title{
    text-align: center !important;
      color: #000 !important;
  }
  .pro-title:hover{
      color: var(--primary-button-background) !important;
  }
  .vendor{
    font-size:18px;
  }
  .price-p{
  color: var(--primary-button-background) !important;
  }
  #main{
  background: #ffffff;
  }
  .conatiner-buy{
   	max-width: 1158px;
  }
  .landing_section_title{
  	text-align: center;
    background-color: #da6300;
    padding: 7px;
    margin-bottom: 30px;
  }
  .landing_section_title h2{
      font-size: 1.35em;
    font-weight: bold;
    margin-bottom: 0;
    color: #fff;
  }
  .title{
  font-size:22px;
      color: #000;
  }
  .product-item__info{
      background: #ededee;
    border: 1px solid #ededee;
    padding: 20px;
    position: relative;
    margin-top: 9px;
  }
  .border{
      border: 1px solid #cccccc6b;
  }
  .btnb{
  float: right !important;
    border-radius: 9px !important;
  }
  .offer-item{
    border:none;
  }
  .description{
  	margin: 20px 0;
    font-size: 17px;
  }
  .offer-item__content{
 	padding: 20px;
    margin-top: 10px;
    border: 1px solid #ededee;
    background: #ededee;
  }
  
  .offer-item__inner{
    border: 1px solid #cccccc6b;
  }
  .offer-item__title{
  	font-size: 1.5em;
    font-weight: 600;
  }
 
  .button--primary{
  	float: right;
    text-transform: uppercase;
    padding: 12px 18px;
    margin: 0;
    line-height: 1.42;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    /* font-weight: 500; */
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
  }
  .price{
    text-decoration: none !important;
    font-size: 17px !important;
    font-weight: 200;
  }
  .vendor-para{
    font-size:17px;
  }
  
 .buying-guide-tag {
    text-align: center;
  }
  .round_btn {
    background: #ccc;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 20px;
    color: #000;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
	}
  .buy-now{
  	color: #fff !important;
    text-decoration: none !important;
  }
  
   @media screen and (min-width: 641px){
     
     
     
     .offer-item{
  		padding: none !important;
  	 }
  }
  .imgs{
    max-height: 363px;
    overflow: hidden;
    text-align-last: center;
  }
  .offer-item.offer-item--inline{
      height: fit-content;
  }
  
  img.product-gallery__image.image--fade-in.lazyautosizes.lazyloaded{
/*     transform: translate(0%, -20%);
    width: -webkit-fill-available;
        background-size: cover!important;
    background-position: center!important;
    transform: scale(0.99); */
    max-height: 363px;
    width: 100%;
    overflow: hidden;
  }
</style>

  				
  		
                  
                  
                   